/* .main{
    width: 100%;
    height: 80px;
    align-items: center;
    display: flex;
    justify-content: space-around;

    color: white;
    font-family: "Raleway";
}
.call{
    font-size: 13px;
    color: #FC573B;
    text-decoration: underline;
    cursor: pointer;
}

.icon{
    background-color: #3B3B3B;
} */